

<main >
  <header class = "container-fluid header">
  <h1 class="row title p-2 align-items-center">Musicians Warm Up Timer</h1>
  <h2 class="row subtitle p-xs-3 p-md-4  ">Warm up and limber up before playing your instrument</h2>
  <h2 class="row subtitle_link p-xs-3 p-md-4  ">Follow along <a href="https://www.youtube.com/watch?v=DUAUtQeLhLc" target="_blank">here</a></h2>

  
  </header>
  <section class="container">
    <app-exercise-timer class="row timer-row justify-content-center align-items-start"></app-exercise-timer>
  </section>
</main>